
#cursor {
  animation: blinker 1s step-end infinite; 
  /*you can change 'step-end' to 'linear' for smooth transition*/
}

#draggable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
}

@keyframes blinker {  
  50% { opacity: 0; }
}


@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        font-size: 72px;
        line-height: 1em;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #FFF0CF;

}
img{
  position: absolute;
}

#container {
  height: 50vh;
  background-color: #DEFFF9;;
 /* width: 1000px;*/
/*  padding: 50px;
  margin: 50px auto;*/
  word-wrap: break-word;
  text-align:center;

}
.inner {
  /*display:block;*/
}



